body {
  font-family: Lucida Grande;
  padding: 0px;
  background: #2E4053;
}

/* Header/Blog Title */
.header {
  padding: 0px;
  font-size: 40px;
  text-align: center;
  background: #1B2631;
}

/* Add a card effect for articles */
.card {
  background-color: #7F8C8D;
  padding: 20px;
  margin-top: 20px;
}

/* Footer */
.footer {
  padding: 0px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .clearfix, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
h2, h3, h5 {
  color: #EAF2F8;
}
h1, h4 {
  color: #34495E
}
h6 {
  color: #17202A
}
h3, h2, h5 {
  text-align: center;
}
h1, h4, h6 {
  text-align: left;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {
  width: 30%;
  height: auto;
}
.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #1B2631; /* Add an active/current color */
}
