@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  margin: 0;
  color: #696969;
  font-family: 'Montserrat', sans-serif;
}
#header {
  background-color: #696969;
  height: 50px;
  line-height: 50px;
}
  #header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: 20px;
  }
  #header a:hover {
    color: #FFFFFF;
  }
#header-title {
  display: block;
  float: left;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
  padding-right: 20px;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  max-width: 10000px;
  margin: 20 px;
}
#footer {
  background-color: #2f2f2f;
  padding: 75px 0;
  padding-left: 20px;
}
  #footer h4 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  #footer p {
    color: white;
  }

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #F6A623;
}
.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
  .post-content img {
    vertical-align: middle;
}
.post-author span {
  margin-left: 25px;
}
.post-date {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
h3, h1, h2 {
  text-align: center;
}
h1, h2, h4 {
  color: #696969;
}
h3 {
  color: #000000;
}
h5 {
  color: #D3D3D3;
}
  h6 {
    color: #FFFFFF
  }

p {
line-height: 1.5;
}
.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.about {
  text-align: center;
}
.post-author img,
.about-author img {
  border-radius: 50%;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
