body {
  font-family: Lucida Grande;
  padding: 0px;
  background: #2E4053;
}

/* Header/Blog Title */
.header {
  padding: 0px;
  font-size: 40px;
  text-align: center;
  background: #1B2631;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #7F8C8D;
  padding: 20px;
  margin-top: 20px;
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 0px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
h2, h3, h5 {
  color: #EAF2F8;
}
h1, h4 {
  color: #34495E
}
h6 {
  color: #17202A
}
h3, h1, h2, h4, h5, h6 {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
